
/* Navbar Settings */
.navbar {
    background-image: linear-gradient(90deg, rgb(184, 248, 184), rgb(184, 248, 184))  !important;
}

.navbar a{
        font-size: 20px !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    }

/* the Paws */
.DaPaws {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-image: url(assets/Paw2.png);
    background-size: cover;
    transform: rotate(30deg);
  }
  
  
.DaPaws-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-image: url(assets/Paw1.png);
    background-size: cover;
  }
  
    
#DPaw{
    transform: rotate(210deg) !important;
  }

#jon p {
    font-family: 'Architects Daughter', cursive;
    font-size: 22px;    
  }

#jon h2{
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    margin-bottom: 20px;

 } 

#pitch h1{
    font-family: 'Scheherazade New', serif;
    font-size: 80px;    
    -webkit-animation: squiggly-anim 0.34s linear infinite;
    animation: squiggly-anim 0.34s linear infinite;
}

#pitch p{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}

@-webkit-keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
  }
  @keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
  }


/* Effects */

.wrapper {
    text-align: center;
  }
.wrapper h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(to right, #095fab 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
#trails {
    width: 100%;
    height: 200px;
}

#amber p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 20px;
  
}

#amber h2 {
  margin-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: black;
}

#amber h2:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


#amber2 img:hover {
 
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}