Body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:black; 
       /*naniiiiii  */
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 2px 2px white;
}

.container{
    max-width: 95%;
    height: 100%;
    background-image: linear-gradient(150deg, cyan,pink);
    padding:5%;
}

.container-calc{
    background-color: rgba(255, 255, 255, 0.589);
    padding:5px;

}

.navbar {
    background-image: linear-gradient(90deg, rgb(184, 248, 184), rgb(184, 248, 184))  !important;
    
    
    /* if IDs and inline styling doesn't work, neither does !important */
}

.container-bg {
    background-color: rgb(184, 248, 184);
    max-width: 100%;
    min-height: 100%;
    max-height: 200%;

}

.navbar a{
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    }

.container-end {
    padding: 5%;
    image-orientation: center;
}
